In [22]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ehsan\anaconda3\lib\site-packages (4.9.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\ehsan\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ehsan\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\ehsan\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ehsan\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: async-generator>=1.9 in c:\users\ehsan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\ehsan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ehsan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ehsan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ehsan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ehsan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ehsan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sniffio in c:\users\ehsan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ehsan\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ehsan\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ehsan\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ehsan\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [23]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
## This task will be done in following steps:
## 1. First get the webpage https://www.naukri.com/
## 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
## 3. Then click the searchbutton.
## 4. Then scrape the data for the first 10 jobs results you get.
## 5. Finally create a dataframe of the scraped data.

In [24]:
driver=webdriver.Chrome(r"C:\Users\ehsan\anaconda3\chromedriver.exe")

In [25]:
driver.get("https://www.naukri.com/")

In [26]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [27]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div[1]/div[1]/div/input")
location.send_keys('Bangalore')

In [28]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [29]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [30]:
# scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping Job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [31]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [32]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,location,Company_name,Experience
0,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
1,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,1-2 Yrs
2,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
3,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
4,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
5,Banking Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",Coforge,5-10 Yrs
6,Data Analyst,Bangalore/Bengaluru,Dpdzero,1-3 Yrs
7,Data Analyst,Bangalore/Bengaluru,Juniper Networks,5-9 Yrs
8,Data Analyst,"Temp. WFH - Bangalore/Bengaluru, Noida, Pune, ...",Infogain,4-7 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Portcast,2-6 Yrs

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.This task will be done in following steps:
## 1. First get the webpage https://www.naukri.com/
## 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
## 3. Then click the searchbutton.
## 4. Then scrape the data for the first 10 jobs results youget.
## 5. Finally create a dataframe of the scraped data.

In [33]:
driver=webdriver.Chrome(r"C:\Users\ehsan\anaconda3\chromedriver.exe")

In [34]:
driver.get("https://www.naukri.com/")

In [35]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [36]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [37]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [38]:
# scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//span[@class="starRating fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping Job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [39]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [40]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,location,Company_name,Experience
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,2-4 Yrs
1,Data Scientist_NLP,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",4.1,5-11 Yrs
2,Data Scientist,"Mumbai, Jamshedpur, Bangalore/Bengaluru",3.2,2-7 Yrs
3,Data Scientist- Bangalore,Bangalore/Bengaluru,3.7,3-6 Yrs
4,Data Science Analyst - Data Science,Bangalore/Bengaluru,4.1,3-5 Yrs
5,Data Science Analyst Data Science,Bangalore/Bengaluru,4.1,3-5 Yrs
6,Analytics Specialist - Artificial Intelligence...,Bangalore/Bengaluru,4.1,7-11 Yrs
7,Senior Data Scientist,Bangalore/Bengaluru,4.1,7-9 Yrs
8,Analytics Senior Analyst - Artificial Intellig...,Bangalore/Bengaluru,4.1,5-8 Yrs
9,Analytics Analyst - Artificial Intelligence In...,Bangalore/Bengaluru,4.1,3-5 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required.The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhsThe task will be done as shown in the below steps:
## 1. first get thewebpage https://www.naukri.com/
## 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
## 3. Then click the searchbutton.
## 4. Then apply the location filter and salary filter by checking the respective boxes
## 5. Then scrape the data for the first 10 jobs results youget.
## 6. Finally create a dataframe of the scraped data.

In [41]:
driver=webdriver.Chrome(r"C:\Users\ehsan\anaconda3\chromedriver.exe")

In [42]:
driver.get("https://www.naukri.com/")

In [43]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [44]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi / NCR')

In [45]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [46]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
job_salary=[]

In [47]:
# scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping Job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)
    
# scraping Job Salary from the given page
salary_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in salary_tags[0:10]:
    salary=i.text
    job_salary.append(salary)

In [48]:
print(len(job_title),len(job_location),len(company_name),len(experience_required),len(job_salary))

10 10 10 10 10

In [49]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'Company_name':company_name,'Experience':experience_required,'Salary':job_salary})
df

,Title,location,Company_name,Experience,Salary
0,Data Scientist_NLP,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics,5-11 Yrs,Not disclosed
1,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent,5-12 Yrs,Not disclosed
2,Opportunity | Data Scientist | Tavant India,"Noida, Kolkata, Hyderabad/Secunderabad, Bangal...",Tavant Technologies,6-11 Yrs,Not disclosed
3,Sr. Data Scientist - Python / ML / DL,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",AVE Promagne,5-8 Yrs,Not disclosed
4,Data Scientist - Engine Algorithm,"Delhi / NCR, Mumbai, Hyderabad/Secunderabad, P...",Primo Hiring,1-3 Yrs,Not disclosed
5,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Visakhapatnam, H...",Primo Hiring,1-3 Yrs,Not disclosed
6,Data Scientist- Python/ML/DL,"Noida, Mumbai, Pune, Chennai, Bangalore/Bengal...",AVE Promagne,2-4 Yrs,Not disclosed
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Pune, Chennai, A...",Primo Hiring,1-3 Yrs,Not disclosed
8,Data Scientist with Retail Domain,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs,Not disclosed
9,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",TRH Consultancy Services,5-10 Yrs,Not disclosed

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
## 1. Brand
## 2. ProductDescription
## 3. Price
## The attributes which you have to scrape is ticked marked in the below image
## To scrape the data you have to go through following steps:
## 1. Go to Flipkart webpage by url :https://www.flipkart.com/
## 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
## 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data asusual.
## 4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
## 5. Now scrape data from this page asusual
## 6. Repeat this until you get data for 100sunglasses.

In [50]:
driver=webdriver.Chrome(r"C:\Users\ehsan\anaconda3\chromedriver.exe")

In [51]:
driver.get("http://www.flipkart.com/")

In [52]:
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sunglasses')

pop_up=driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']")
pop_up.click()

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [53]:
#Lets extract all web elements having 100 Sunglass Brand
brands=[]
start=0
end=3
for page in range(start,end):
    
    title_tag=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in title_tag:
        brands.append(i.text.split(","))
brands=brands[0:100]

In [54]:
#Lets extract all web elements having 100 Sunglass Product Discription
prod_des=[]
start=0
end=3
for page in range(start,end):
    
    title_tag=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in title_tag:
        prod_des.append(i.text.split(","))
prod_des=prod_des[0:100]

In [55]:
#Lets extract all web elements having 100 Sunglass Price
price=[]
start=0
end=3
for page in range(start,end):
    
    title_tag=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in title_tag:
        price.append(i.text.split(" "))
price=price[0:100]

In [56]:
#Lets make datafram
import pandas as pd
sunglass=pd.DataFrame({"Sunglass Brands":brands,"Production Descripion":prod_des,"Sunglass Price":price})
sunglass

,Sunglass Brands,Production Descripion,Sunglass Price
0,[VINCENT CHASE],"[by Lenskart Polarized, UV Protection Retro S...",[₹949]
1,[VINCENT CHASE],"[Polarized, UV Protection Rectangular Sunglas...","[₹1,379]"
2,[Elligator],[UV Protection Wayfarer Sunglasses (53)],[₹149]
3,[Elligator],"[UV Protection Cat-eye, Retro Square, Oval, ...",[₹149]
4,[PIRASO],[UV Protection Clubmaster Sunglasses (54)],[₹224]
...,...,...,...
95,[VINCENT CHASE],"[Polarized, UV Protection Retro Square Sungla...",[₹962]
96,[Elligator],[UV Protection Wayfarer Sunglasses (56)],[₹249]
97,[PIRASO],"[Polarized, UV Protection Rectangular Sunglas...",[₹214]
98,[SRPM],[UV Protection Aviator Sunglasses (58)],[₹109]
99,[VINCENT CHASE],[UV Protection Aviator Sunglasses (Free Size)],[₹879]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product￾reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKART
## As shown in the above page you have to scrape the tick marked attributes. These are:
## 1. Rating
## 2. Review summary
## 3. Full review
## 4. You have to scrape this data for first 100reviews.

In [57]:
driver=webdriver.Chrome(r"C:\Users\ehsan\anaconda3\chromedriver.exe")

In [58]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd" # Here i am assigning the link in url name variable 
driver.get(url) #here using the get method to access the link

In [59]:
#Clicking using absolute xpath function
rating_review=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div")
rating_review.click()

In [60]:
Rating = []
start=0
end=11
for page in range(start,end,1):
    rating = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for i in rating:
        Rating.append(i.text)
    
    time.sleep(3)
Rating=Rating[0:100]
len(Rating)

100

In [61]:
Review = []
start=0
end=11
for page in range(end,start,-1):
    review = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for i in review:
        Review.append(i.text)
    
    time.sleep(3)
Review=Review[0:100]
len(Review)

100

In [62]:
Full_review = []
start=0
end=11
for page in range(start,end,1):
    review = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in review:
        Full_review.append(i.text)
    
    
Full_review=Full_review[0:100]
len(Full_review)

100

In [63]:
#Lets Make Data Frame
import pandas as pd
i_phone=pd.DataFrame({"I Phone 11 Rating":Rating,"I Phone Review":Review,"Full Review":Full_review})
i_phone

,I Phone 11 Rating,I Phone Review,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
97,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
## You have to scrape 3 attributes of each sneaker:
## 1. Brand
## 2. ProductDescription
## 3. Price
## As shown in the below image, you have to scrape the above attributes.

In [72]:
driver=webdriver.Chrome(r"C:\Users\ehsan\anaconda3\chromedriver.exe")

In [73]:
url="https://www.flipkart.com/" # Here i am assigning the link in url namea variable 
driver.get(url) #here using the get method to access the link

In [74]:
#Finding the web element for search "Data Analyst"
search_job=driver.find_element(By.CLASS_NAME,"_3704LK")
search_job.send_keys("sneakers")

In [75]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [76]:
#Lets find 100 Brands name
brand=[]

start=0
end=3

                         
for page in range(start,end):
    Brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in Brand:
        brand.append(i.text)
brand=brand[0:100]
len(brand)

100

In [77]:
price=[]
start=0
end=3
for page in range(start,3):
    Price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in Price:
        price.append(i.text)
price=price[0:100]
len(price)

100

In [78]:
prod_des=[]
start=0
end=3
for page in range(start,end):
    
    title_tag=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in title_tag:
        prod_des.append(i.text)
prod_des=prod_des[0:100]
len(prod_des)

100

In [79]:
#Lets Make DataFrame
import pandas as pd
sneaker=pd.DataFrame({"Sneaker Brank":brand,"Sneaker Price":price,"Sneaker Description":prod_des})
print(sneaker.shape)
sneaker.head()

(100, 3)

,Sneaker Brank,Sneaker Price,Sneaker Description
0,BIRDE,₹449,Premium White Casual Shoes Sneakers For Men Sn...
1,SFR,₹378,Synthetic| Lightweight| Premiun| Comfort| Summ...
2,aadi,₹299,Casual Sneakers White Shoes For Girls And Snea...
3,Layasa,₹449,Combo Pack Of 2 Casual Shoes Sneakers For Men
4,BIRDE,₹499,Lattest Sneakers Shoe Sneakers For Men

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
## After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
## 1. Title
## 2. Ratings
## 3. Price

In [80]:
driver=webdriver.Chrome(r"C:\Users\ehsan\anaconda3\chromedriver.exe")

In [81]:
url="https://www.amazon.in/"
driver.get(url)

In [82]:
#Finding the web element for search "laptop"
laptop=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop.send_keys("Laptop")

In [83]:
#Clicking using absolute xpath function
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [84]:
#Lets extract all web elements having Laptop Ratings Done by customer
title=[]
Title=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in Title:
    title.append(i.text)
title=title[0:10]
len(title)

10

In [86]:
#Lets extract all web elements having Price
price=[]
Price=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in Price:
    price.append(i.text.split("[]"))
price=price[0:10]
len(price)

10

In [89]:
#Lets Make DataFrame
import pandas as pd
laptop=pd.DataFrame({"Laptop Title":title,"Laptop Price":price})
laptop

                                        Laptop Title Laptop Price
0  Lenovo Ideapad 3 AMD Ryzen 5 5500U 15.6" (39.6...   [1,31,990]
1  Lenovo ThinkBook 15 Intel 12th Gen Core i5 15....   [1,14,990]
2  Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...     [59,990]
3  Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...     [42,990]
4  HP 15s,11th Gen Intel Core i3-1115G4 8GB RAM/5...     [61,990]
5  Fujitsu UH-X 12th Gen Intel Evo Core i5 13.3 i...     [20,999]
6  HP Laptop 15s, 12th Gen Intel Core i3-1215U, 1...     [33,990]
7  HP Victus Gaming Laptop 12th Gen Intel Core i5...     [37,490]
8  HP 14s, 5th Gen AMD Ryzen 3-8GB RAM/512GB SSD ...     [69,990]
9  HP 15s, 12th Gen Intel Core i5 8GB RAM/512GB S...     [43,490]

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.The above task will be done in following steps:
## 1. First get the webpagehttps://www.azquotes.com/
## 2. Click on TopQuotes
## 3. Than scrap a) Quote b) Author c) Type Of Quotes

In [90]:
driver=webdriver.Chrome(r"C:\Users\ehsan\anaconda3\chromedriver.exe")

In [91]:
url="https://www.azquotes.com/" # Here i am assigning the link in url namea variable 
driver.get(url) #here using the get method to access the link

In [92]:
#Clicking using absolute xpath function
top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/h1")
top_quotes.click()

In [93]:
#Lets find 1000 Quotes
quote=[]

start=0
end=1000

                         
for page in range(start,end):
    Quote=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/h1")
    
    for i in Quote:
        quote.append(i.text)
    

print(len(quote))

1000

In [94]:
#Lets find author name
author=[]

start=0
end=1000

                         
for page in range(start,end):
    Author=driver.find_elements(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[1]/a")
    
    for i in Author:
        author.append(i.text)
    
    
    
print(len(author))

1000

In [95]:
#Lets find Typeof Quote
top=[]

start=0
end=1000

                         
for page in range(start,end):
    TOP=driver.find_elements(By.XPATH,"/html/body")
    
    for i in TOP:
        top.append(i.text)
    
    
print(len(top))

1000

In [96]:
#Lets MakeDataFrame
import pandas as pd
thousand_quote=pd.DataFrame({"Best Quote":quote,"Best Author":author,"Topic of Quote":top})
thousand_quote

,Best Quote,Best Author,Topic of Quote
0,Quote of the Day,AUTHORS,LOGIN SIGN UP\nAUTHORS\nTOPICS\nQUOTE OF THE...
1,Quote of the Day,AUTHORS,LOGIN SIGN UP\nAUTHORS\nTOPICS\nQUOTE OF THE...
2,Quote of the Day,AUTHORS,LOGIN SIGN UP\nAUTHORS\nTOPICS\nQUOTE OF THE...
3,Quote of the Day,AUTHORS,LOGIN SIGN UP\nAUTHORS\nTOPICS\nQUOTE OF THE...
4,Quote of the Day,AUTHORS,LOGIN SIGN UP\nAUTHORS\nTOPICS\nQUOTE OF THE...
...,...,...,...
995,Quote of the Day,AUTHORS,LOGIN SIGN UP\nAUTHORS\nTOPICS\nQUOTE OF THE...
996,Quote of the Day,AUTHORS,LOGIN SIGN UP\nAUTHORS\nTOPICS\nQUOTE OF THE...
997,Quote of the Day,AUTHORS,LOGIN SIGN UP\nAUTHORS\nTOPICS\nQUOTE OF THE...
998,Quote of the Day,AUTHORS,LOGIN SIGN UP\nAUTHORS\nTOPICS\nQUOTE OF THE...
999,Quote of the Day,AUTHORS,LOGIN SIGN UP\nAUTHORS\nTOPICS\nQUOTE OF THE...

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
## This task will be done in following steps:
## 1. First get the webpagehttps://www.jagranjosh.com/
## 2. Then You have to click on the GK option
## 3. Then click on the List of all Prime Ministers of India
## 4. Then scrap the mentioned data and make theDataFrame

In [97]:
driver=webdriver.Chrome(r"C:\Users\ehsan\anaconda3\chromedriver.exe")

In [99]:
url="https://www.jagranjosh.com/" # Here i am assigning the link in url name variable 
driver.get(url) #here using the get method to access the link

In [100]:
#Clicking using absolute xpath function
top_quotes=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a")
top_quotes.click()

In [101]:
#Lets find PM name
pm_name=[]
Names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')

for name in Names:

    pm_name.append(name.text)
len(pm_name)

0

In [102]:
#Lets find born date and dead date
born_dead=[]
Born_dead=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[3]/p")
for i in Born_dead:
    born_dead.append(i.text)
born_dead
len(born_dead)

0

In [103]:
#Lets find term of office
tof=[]
term_office=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[4]/p[1]")
for i in term_office:
    tof.append(i.text)

len(tof)

0

In [104]:
#Lets find Remarks
remark=[]
Remark=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[5]/p")
for i in Remark:
    remark.append(i.text)
len(remark)

0

In [105]:
#Lets make dataframe
import pandas as pd
all_pm=pd.DataFrame({"All PM name of india":pm_name,"Born-Dead":born_dead,"Term of office(Date)":tof,"Remark":remark})

In [106]:
all_pm

Empty DataFrame
Columns: [All PM name of india, Born-Dead, Term of office(Date), Remark]
Index: []

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
## This task will be done in following steps:
## 1. First get the webpagehttps://www.jagranjosh.com/
## 2. Then You have to click on the GK option
## 3. Then click on the List of all Prime Ministers of India
## 4. Then scrap the mentioned data and make theDataFrame

In [112]:
driver=webdriver.Chrome(r"C:\Users\ehsan\anaconda3\chromedriver.exe")

In [113]:
url="https://www.motor1.com/" # Here i am assigning the link in url name variable 
driver.get(url) #here using the get method to access the link

In [114]:
#Clicking using absolute xpath function
three_dots=driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[1]/div")
three_dots.click()

In [115]:
#Clicking using absolute xpath function
list_option=driver.find_element(By.XPATH,"/html/body")
list_option.click()

In [120]:
#Lets Find Car Name
car_name=[]
Car_Name=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in Car_Name:
    car_name.append(i.text)





car_name=car_name[0:50]
len(car_name)

0

In [121]:
#Lets Find Car Price/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]/strong
car_price=[]

Car_Price=driver.find_elements(By.XPATH,"/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]")
for i in Car_Price:
    car_price.append(i.text)
car_price=car_name[0:50]    
len(car_price)

0

In [122]:
#Lets Make DataFrame
import pandas as pd
best_car=pd.DataFrame({"Car Name":car_name,"Car Price":car_price})
print(best_car.shape)
best_car.head()

(0, 2)

Empty DataFrame
Columns: [Car Name, Car Price]
Index: []