# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

## You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [15]:
#Lets import all the required libraries 
import selenium # Libraries that is used to work  with selenium
from selenium import webdriver # importing web driver module from selenium to open automated edge window
import pandas as pd # to create dataframe
from selenium.webdriver.common.by import By#importing inbuild class BY
import warnings #to ignore any sort warnings
warnings.filterwarnings('ignore')
import time# used to stop search engine for few seconds

In [16]:
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [17]:
#First Connect to web driver 

driver = webdriver.Chrome(r"C:\Users\ehsan\anaconda3\Chrome.exe")
driver

In [18]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos" # Here i am assigning the link in url name variable 
driver.get(url)

In [19]:
Rank=[]

In [20]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[1]')[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

In [21]:
Name=[]

In [22]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[2]')[:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

In [23]:
Artist=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[3]')[:30]:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')

In [24]:
 Upload_Date=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[5]')[:30]:
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append('-')

In [25]:
Views=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[4]')[:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [26]:
#Lets Make DataFrame
import pandas as pd

In [27]:
data=pd.DataFrame({'Rank':Rank,'Name':Name,"Artist":Artist,"Upload_Date":Upload_Date,"Views":Views})
data

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.14
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.69
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.97
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.86
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.26
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.89
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.87
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.77
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.32
13,14.,"""Axel F""[34]",Crazy Frog,"June 16, 2009",3.87
14,15.,"""Sugar""[35]",Maroon 5,"January 14, 2015",3.86
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.78
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.77
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.65
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,"October 7, 2014",3.58
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.56
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.50
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.44
23,24.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.42
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.42
25,26.,"""Let Her Go""[46]",Passenger,"July 25, 2012",3.42
26,27.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.40
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
28,29.,"""Lean On""[49]",Major Lazer,"March 22, 2015",3.37
29,30.,"""Bailando""[50]",Enrique Iglesias,"April 11, 2014",3.37

In [28]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.

## You need to find following details:

A) Match title (I.e. 1 st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [39]:
#First Connect to web driver 

driver = webdriver.Chrome(r"C:\Users\ehsan\anaconda3\Chrome.exe")
driver

In [40]:
url="https://www.bcci.tv/" # Here i am assigning the link in url name variable 
driver.get(url)

In [41]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH,'/html/body/div[5]/div/div[1]/div/ul/li[1]/a')
search_btn.click()

In [42]:
Match_title=[]
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/h5'):
        Match_title.append(i.text.replace('-',""))
except NoSuchElementException:
    Match_title.append('-')

In [43]:
Place=[]
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[3]/div/span[3]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')

In [44]:
Date=[]
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/div/div[1]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')

In [45]:
Time=[]
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/div/div[2]'):
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')

In [46]:
data=pd.DataFrame({"Match_title":Match_title,"Place":Place,"Date":Date,"Time":Time})
data

                               Match_title   Place        Date         Time
0   ICC WORLD TEST CHAMPIONSHIP FINAL 2023  London  7 JUN 2023  3:30 PM IST
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

In [47]:
driver.close()

In [48]:
Name=Name[0:41]
len(Name)

30

# 3. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/

## You have to find following details:

A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [70]:
#First Connect to web driver 

driver = webdriver.Chrome(r"C:\Users\ehsan\anaconda3\Chrome.exe")
driver

In [71]:
url=" http://statisticstimes.com/" # Here i am assigning the link in url name variable 
driver.get(url)

In [75]:
driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button').click()
driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]').click()

In [76]:
#get the url of page containing GDP of indian states
sta_GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)

In [77]:
Rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

In [78]:
State=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[2]'):
        State.append(i.text)
except NoSuchElementException:
    State.append('-')

In [79]:
GDPs=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[8]'):
        GDPs.append(i.text)
except NoSuchElementException:
    GDPs.append('-')

In [80]:
GDP=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[3]'):
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')

In [81]:
Share=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[5]'):
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')

In [82]:
GDPa=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[6]'):
        GDPa.append(i.text)
except NoSuchElementException:
    GDPa.append('-')

In [83]:
#Lets Make DataFrame
import pandas as pd

In [84]:
data=pd.DataFrame({'Rank':Rank,"State":State,"GSDP(18-19)- at current prices":GDPs,"GSDP(19-20)- at current prices":GDP,"Share":Share,"GDP($ billion)":GDPa})
data

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share,GDP($ billion)
0,1,Maharashtra,"2,039,074",-,13.94%,399.921
1,2,Tamil Nadu,"1,215,307","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,123,982","1,687,818",8.39%,240.726
3,4,Gujarat,"1,186,379",-,7.96%,228.290
4,5,Karnataka,"1,091,077","1,631,977",7.91%,226.806
5,6,West Bengal,"739,525","1,253,832",5.77%,165.556
6,7,Rajasthan,"677,428","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"621,301","972,782",4.57%,131.083
8,9,Telangana,"612,828","969,604",4.56%,130.791
9,10,Madhya Pradesh,"522,009","906,672",4.29%,122.977
10,11,Kerala,"559,412",-,4.14%,118.733
11,12,Delhi,"590,569","856,112",4.10%,117.703
12,13,Haryana,"531,085","831,610",3.89%,111.519
13,14,Bihar,"375,651","611,804",2.81%,80.562
14,15,Punjab,"397,669","574,760",2.79%,79.957
15,16,Odisha,"376,877","521,275",2.58%,74.098
16,17,Assam,"234,048",-,1.67%,47.982
17,18,Chhattisgarh,"231,182","329,180",1.61%,46.187
18,19,Jharkhand,"224,986","328,598",1.57%,45.145
19,20,Uttarakhand,"193,273",-,1.30%,37.351
20,21,Jammu & Kashmir,"112,755",-,0.83%,23.690
21,22,Himachal Pradesh,"117,851","165,472",0.81%,23.369
22,23,Goa,"57,787","80,449",0.39%,11.115
23,24,Tripura,"36,963","55,984",0.26%,7.571
24,25,Chandigarh,"31,192",-,0.22%,6.397
25,26,Puducherry,"23,013","38,253",0.18%,5.230
26,27,Meghalaya,"24,682","36,572",0.18%,5.086
27,28,Sikkim,"18,722","32,496",0.15%,4.363
28,29,Manipur,"19,300","31,790",0.15%,4.233
29,30,Nagaland,"17,647",-,0.14%,4.144
30,31,Arunachal Pradesh,"16,676",-,0.13%,3.737
31,32,Mizoram,"16,478","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [85]:
driver.close()

# 4. Scrape the details of trending repositories on Github.com. Url = https://github.com/

## You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [283]:
#First Connect to web driver 

driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [284]:
url=" https://github.com/" # Here i am assigning the link in url name variable 
driver.get(url)

In [89]:
driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a").click()

In [ ]:
driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a").click()

In [92]:
Repository_title=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="text-normal"]'):
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')

In [93]:
Repository_description=[]
try:
    for i in driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('-')

In [94]:
Contributors_count=[]
try:
    for i in driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3'][1]"):
        Contributors_count.append(i.text)
except NoSuchElementException:
    Contributors_count.append('-')

In [95]:
Language_used=[]
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']"):
        Language_used.append(i.text)
except NoSuchElementException:
    Language_used.append('-')
    time.sleep(5)

In [96]:
#Lets Make DataFrame
import pandas as pd

In [ ]:
data=pd.DataFrame({"Repository_title":Repository_title,"Repository_description":Repository_description,"Contributors_count":Contributors_count,"Language_used":Language_used})
data

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/

## You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [133]:
#First Connect to web driver 

driver = webdriver.Chrome(r"C:\Users\ehsan\anaconda3\Chrome.exe")
driver

In [134]:
url="https:/www.billboard.com/" # Here i am assigning the link in url name variable 
driver.get(url)

In [135]:
driver.find_element(By.XPATH,"//div[@class='u-overflow-hidden lrv-u-background-color-grey-lightest lrv-u-padding-t-150 u-padding-t-00@mobile-max u-padding-b-425@desktop-xl u-padding-b-325@tablet u-padding-b-250']").click()

In [138]:
driver.find_element(By.XPATH,'//*[@id="post-1235333469"]/article/div[2]/div[1]/p[1]/a[2]').click()

In [139]:
Song_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3'):
        Song_name.append(i.text)
except NoSuchElementException:
    Song_name.append('-')
    time.sleep(5)

In [140]:
len(Song_name)

200

In [141]:
Artist_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span'):
        Artist_name.append(i.text)
except NoSuchElementException:
    Artist_name.append('-')
    time.sleep(5)

In [142]:
Artist_name=Artist_name[0:-1:4]
len(Artist_name)
200

200

In [143]:
Peak_rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]'):
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('-')
    time.sleep(5)

In [144]:
len(Peak_rank)

200

In [145]:
Last_week_rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span'):
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append('-')
    time.sleep(5)

In [146]:
Last_week_rank=Last_week_rank[0:-1:2]
len(Last_week_rank)

200

In [147]:
Weeks_on_board=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span'):
        Weeks_on_board.append(i.text)
except NoSuchElementException:
    Weeks_on_board.append('-')
    time.sleep(5)

In [148]:
Weeks_on_board=Weeks_on_board[1:400:2]
len(Weeks_on_board)

200

In [149]:
#Lets Make Dataframe
import pandas as pd
data=pd.DataFrame({"Song_name":Song_name,"Artist_name":Artist_name,"Peak_rank":Peak_rank,"Last_week_rank":Last_week_rank,"Weeks_on_board":Weeks_on_board})
data

,Song_name,Artist_name,Peak_rank,Last_week_rank,Weeks_on_board
0,One Thing At A Time,Morgan Wallen,1,1,10
1,-,Ed Sheeran,2,-,1
2,Midnights,Taylor Swift,3,3,29
3,SOS,SZA,4,4,22
4,Dangerous: The Double Album,Morgan Wallen,5,5,122
...,...,...,...,...,...
195,Sublime,Sublime,196,-,194
196,Fuck The World,Brent Faiyaz,197,-,23
197,Stick Season,Noah Kahan,198,-,24
198,Die Lit,Playboi Carti,199,-,158
199,Taylor Swift,Taylor Swift,200,-,276

In [150]:
driver.close()

# 6. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey%02compare/

## You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [151]:
#First Connect to web driver 

driver = webdriver.Chrome(r"C:\Users\ehsan\anaconda3\Chrome.exe")
driver

In [152]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare " # Here i am assigning the link in url name variable 
driver.get(url)

In [153]:
Book_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[2]'):
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append('-')
    time.sleep(5)

In [154]:
len(Book_name)

100

In [155]:
Author_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[3]'):
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append('-')
    time.sleep(5)

In [156]:

len(Author_name)

100

In [157]:
Volumes_sold=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[4]'):
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('-')
    time.sleep(5)

In [158]:
len(Volumes_sold)

100

In [159]:
Publisher=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[5]'):
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('-')
    time.sleep(5)

In [160]:

len(Publisher)

100

In [161]:
Genre=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[6]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')
    time.sleep(5)

In [162]:
#Lets make dataframe
import pandas as pd
data=pd.DataFrame({'Book_name':Book_name,"Author_name":Author_name,"Volumes_sold":Volumes_sold,"Publisher":Publisher,"Genre":Genre})
data

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [163]:
driver.close()

# 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

## You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Vote

In [164]:
#First Connect to web driver 

driver = webdriver.Chrome(r"C:\Users\ehsan\anaconda3\Chrome.exe")
driver

In [165]:
url="https://www.imdb.com/list/ls095964455/" # Here i am assigning the link in url name variable 
driver.get(url)

In [166]:
Name=[]
try:
    for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']//a"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    time.sleep(5)

In [167]:

len(Name)

100

In [168]:
Year_span=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]'):
        Year_span.append(i.text)
except NoSuchElementException:
    Year_span.append('-')
    time.sleep(5)

In [169]:

len(Year_span)

100

In [170]:
Genre=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')
    time.sleep(5)

In [171]:

len(Genre)

100

In [172]:
Run_time=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
        Run_time.append(i.text)
except NoSuchElementException:
    Run_time.append('-')
    time.sleep(5)

In [173]:
 
len(Run_time)

100

In [174]:
Ratings=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]//span[2]'):
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('-')
    time.sleep(5)

In [175]:

len(Ratings)

100

In [176]:
Vote=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
        Vote.append(i.text)
except NoSuchElementException:
    Vote.append('-')
    time.sleep(5)

In [177]:
len(Vote)

100

In [178]:
#Lets make datafram
import pandas as pd
data=pd.DataFrame({"Name":Name,"Year_span":Year_span,"Genre":Genre,"Run_time":Run_time,"Ratings":Ratings,"Vote":Vote})
data

,Name,Year_span,Genre,Run_time,Ratings,Vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,161,520"
1,Stranger Things,(2016–2022),"Drama, Fantasy, Horror",51 min,8.7,"1,241,850"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,026,893"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"302,081"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"261,178"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,655"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,687"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"207,580"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,192"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"258,005"

In [179]:
driver.close()

# 8. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/

## You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [180]:
#First Connect to web driver 

driver = webdriver.Chrome(r"C:\Users\ehsan\anaconda3\Chrome.exe")
driver

In [181]:
url="https://archive.ics.uci.edu/" # Here i am assigning the link in url name variable 
driver.get(url)

In [182]:
driver.find_element(By.XPATH,'//td//span[2][@class="whitetext"]//a').click()

In [183]:
Dataset_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//p[@class="normal"]//b//a'):
        Dataset_name.append(i.text)
except NoSuchElementException:
    Dataset_name.append('-')
    time.sleep(5)

In [184]:
Data_type=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[3]//p[@class="normal"]'):
        Data_type.append(i.text)
except NoSuchElementException:
    Data_type.append('-')
    time.sleep(5)

In [185]:
Task=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[4]//p[@class="normal"]'):
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
    time.sleep(5)

In [186]:
Attribute_type=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[4]//p[@class="normal"]'):
        Attribute_type.append(i.text)
except NoSuchElementException:
    Attribute_type.append('-')
    time.sleep(5)

In [187]:
No_of_instances=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[5]//p[@class="normal"]'):
        No_of_instances.append(i.text)
except NoSuchElementException:
    No_of_instances.append('-')
    time.sleep(5)

In [188]:
No_of_attribute=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[6]//p[@class="normal"]'):
        No_of_attribute.append(i.text)
except NoSuchElementException:
    No_of_attribute.append('-')
    time.sleep(5)

In [189]:
Year=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[7]//p[@class="normal"]'):
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')
    time.sleep(5)

In [190]:
#Lets Make DataFrame
import pandas as pd
data=pd.DataFrame({"Dataset_name":Dataset_name,"Data_type":Data_type,"Task":Task,"Attribute_type":Attribute_type,"No_of_instances":No_of_instances,"No_of_attribute":No_of_attribute,"Year":Year})
data

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",4177,8,1995
1,Adult,Classification,"Categorical, Integer","Categorical, Integer",48842,14,1996
2,Annealing,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,Categorical,37711,294,1998
4,Arrhythmia,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Classification,"Integer, Real","Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Classification,"Integer, Real","Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,Classification,,,1014,7,2020
620,Room Occupancy Estimation,Classification,Real,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Regression,Real,Real,4000,2,2021

In [191]:
driver.close()

# 9.Scrape the details of Data science recruiters from naukri.com.Url = https://www.naukri.com/

## You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [262]:
#First Connect to web driver 

driver = webdriver.Chrome(r"C:\Users\ehsan\anaconda3\Chrome.exe")
driver

In [263]:
url="https://www.naukri.com/hr-recruiters-consultants" # Here i am assigning the link in url name variable 
driver.get(url)

In [264]:
user_input=input("Search What You Want")
user_input

Search What You WantData Science

'Data Science'

In [265]:
#Finding the web element for search "Data Science"
search_job=driver.find_element(By.XPATH,"//input[@class='sugInp']")
search_job.send_keys(user_input)

In [266]:
driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button").click()

In [267]:
Name=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    time.sleep(5)

In [268]:
len(Name)

50

In [269]:
Designation=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]'):
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append('-')
    time.sleep(5)

In [270]:
len(Designation)

50

In [271]:
Company=[]
try:
    for i in driver.find_elements(By.XPATH,'//a[@class="ellipsis"]'):
        Company.append(i.text)
except NoSuchElementException:
    Company.append('-')
    time.sleep(5)

In [274]:
Company=Company[1:100:2]
Company

['Shore Infotech India Pvt. Ltd',
 'Enerlytics Software Solutions Pvt Ltd',
 'Apidel Technologies Division of Transpower',
 'Techvantage Systems Pvt Ltd',
 'CBL Data Science Private Limited',
 'MoneyTap',
 'Infinitive Software Solutions',
 'SocialPrachar.com',
 'BIZ INFOTECNO PRIVATE LIMITED',
 'Easi Tax',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...',
 'Affine Analytics',
 'Exela Technologies',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'trainin',
 'R.S Consultancy &amp; Services',
 'RMS Risk Management Solutions',
 'Nikitha Palaparthi',
 'ASCO consulting',
 '3D India Staffing Research &amp; Consulting...',
 'Demand Matrix',
 'Suntech Global',
 'Impel Labs Pvt. Ltd.',
 'Saras Solutions India Pvt Ltd',
 'LNT Private Limited']

In [275]:
Skill=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]'):
        Skill.append(i.text)
except NoSuchElementException:
    Skill.append('-')
    time.sleep(5)

In [276]:
len(Skill)

50

In [281]:
Location=[]
try:
    for i in driver.find_elements(By.XPATH,'//small[@class=class="ellipsis"]'):
        Location.append(i.text)
except :
    Location.append('Nan')
    time.sleep(5)

In [282]:
len(Location)

0

In [277]:
Name=Name[0:48]
len(Name)
Company=Company[0:50]
len(Company)

25

In [278]:
Skill=Skill[0:50]
len(Skill)

50

In [279]:
Designation=Designation[0:50]
len(Designation)

50

In [ ]:
import pandas as pd
data=pd.DataFrame({"Name":Name,"Company":Company,"Designation":Designation,"Skill":Skill,"Location":Location})
data

In [ ]:
driver.close()